extends layout

block blogHeader
    div.container
        h2 Board list.

block content
    div.container.base-content
        p Board
        table#board-table.table
            thead
                tr
                    th index
                    th title
                    th date
                    th category
            tbody
                each item in result
                    tr(onclick='listItemClick()')
                        td= item.index
                        td
                            a(href='http://localhost:47777/board/item/' + item.index)= item.title
                        td= item.date
                        td= item.categoryStr
                    
