extends boardItemLayout

block blogHeader
    div.container
        h2 Board Content.

block content
    div.container
        div
            p title : #{boardItem.title}
        div
            p date : #{boardItem.date}
        br
        div!= boardItem.content