doctype html
html
  head
    title= title
    // 경로를 잘 지정해야함 (URL 오탈자 확인할 것)
    link(rel='stylesheet', href='../../stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='../../javascripts/board.js')
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='http://localhost:47777') Blog
        ul.nav.navbar-nav
          li
            a(href='http://localhost:47777/board/list') board
          li
            a(href='#') projects
          li
            a(href='#') contact
    block blogHeader
    block content
