extends layout

block blogNavbar
  
block blogHeader
  div.container
    div.jumbotron
      h1= title
      p Welcome to #{title}

block content
  div.container.base-content
    p Blog contents.
    br
    p Name : Park-Ryeongmin
    p Skills : C/C++, Java, Android, Node.js, MongoDB, Algorithms, AWS Cloud, Git, Github

