extends layout

block blogNavbar
  nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='http://localhost:47777') Blog
      ul.nav.navbar-nav
        li
          a(href='http://localhost:47777/board/list') board
        li
          a(href='#') second
        li
          a(href='#') contact
  
block blogHeader
  div.container
    div.jumbotron
      h1= title
      p Welcome to #{title}

block content
  div.container.base-content
    p Blog contents.

